{% extends 'base.html.twig' %}

{% block title %}Calendrier - CAZENAVE - TOUZET
{% endblock %}

{% block body %}
	<style>
		.container {
			margin-top: 50px;
			width: 100%;
		}
		.center {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			align-items: center;
			gap: 40px;
		}
		.buttonSubmit {
			background: #ff8494;
			border: 1px solid #ffa9b7;
			border-radius: 10px;
			width: 200px;
			height: 100px;
			color: white;
			font-size: 30px;
			text
		}
		.buttonSubmit:hover {
			background: #ffa9b7;
		}
	</style>

	<body>
		<div class="container">
			<div class="center">
				<div class="col">
					<a href="/cours.html">
						<button class="buttonSubmit" type="submit">Calendrier</button>
					</a>
				</div>
				<div class="col">
					<a href="/vue.html">
						<button class="buttonSubmit" type="submit">Note ton prof</button>
					</a>
				</div>
				<div class="col">
					<a href="/notesCours.html">
						<button class="buttonSubmit" type="submit">Note des cours</button>
					</a>
				</div>
				<div class="col">
					<a href="/matieres.html">
						<button class="buttonSubmit" type="submit">Profs par matière</button>
					</a>
				</div>
				<div class="col">
					<a href="/salles.html">
						<button class="buttonSubmit" type="submit">Salles</button>
					</a>
				</div>
				<div class="col">
					<a href="/admin">
						<button class="buttonSubmit" type="submit">Backoffice</button>
					</a>
				</div>
			</div>
		</div>
	</body>
{% endblock %}
