<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="coursListe.css" rel="stylesheet" />
    <title>cours</title>
</head>

<body>
    <div id="app">
        <div class="container">
            <div class="fullCalendar">
                <div class="calendar">
                    <div class="calendar_header">
                        <h1 class="header_title">Cours du {{formatDate(selectedDate)}}</h1>
                    </div>
                    <div class="center">
                        <input type="button" value="Jour Précédent" @click="decrementSelectedDay()" />
                        <input type="button" value="Jour Suivant" @click="incrementSelectedDay()" />
                    </div>

                    <div class="calendar_events">
                        <p class="ce_title">Evènements proches</p>
                        <div class="event_item" :class="{ event_item_selected: idCoursSelected==cour.id }"
                            v-for="cour in cours" @click="selectCours(cour.id)">
                            <div class="ei_Dot" :class="{ dot_selected: idCoursSelected==cour.id }">
                                <!-- :class ne marche pas -->
                            </div>
                            <div class="ei_Title" :class="{ ei_selected: idCoursSelected==cour.id }">
                                {{cour.matiere.titre}}
                                {{formatClassesDate(cour.dateHeureDebut.date)}}h -
                                {{formatClassesDate(cour.dateHeureFin.date)}}h</div>
                            <div class="ei_Copy">Avec <b>{{cour.professeur.nom}} {{cour.professeur.prenom}}</b> en salle
                                n°<b>{{cour.salle.numero}}</b></div>
                        </div>
                    </div>
                </div>
                <div class="details">
                    <h1 v-if="!displayDetails">cliquez pour les détails</h1>
                    <div class="showDetails" v-if="idCoursSelected">
                        <div class="calendar_header">
                            <h1>Détails </h1>
                        </div>
                        <div class="list_detail_item">
                            <div class="">

                                <div class="headline_details">Horaires</div>
                                <p class="content_details">{{formatClassesDate(selectedCours.dateHeureDebut.date)}}h -
                                    {{formatClassesDate(selectedCours.dateHeureFin.date)}}h</p>
                            </div>
                        </div>


                        <a href="/matieres.html">
                            <div class="list_detail_item">
                                <div>
                                    <div class="headline_details">Matière</div>
                                    <p class="content_details">{{selectedCours.matiere.titre}}</p>
                                </div>
                                <img class="logo" src="images/right-arrow.png">
                            </div>
                        </a>
                        <a href="/vue.html">
                            <!-- impossible de mettre un @click avec un window.location.href = ... -->
                            <div id="prof-section" class="list_detail_item">
                                <div>
                                    <div class="headline_details">Professeur</div>
                                    <p class="content_details">{{selectedCours.professeur.nom}}
                                        {{selectedCours.professeur.prenom}}</p>
                                </div>
                                <img class="logo" src="images/right-arrow.png">
                            </div>
                        </a>
                        <div class="list_detail_item">
                            <div>
                                <div class="headline_details">Salle</div>
                                <p class="content_details">{{selectedCours.salle.numero}}</p>
                            </div>
                            <img class="logo" src="images/right-arrow.png">
                        </div>
                        <div class="addNoteDiv">
                            <a href="/noterCours.html?coursId=">
                                <input type="button" class="addNote" value="Noter Ce Cours" />
                            </a>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>

        const dayInMs = 1000 * 60 * 60 * 24;
        Vue.createApp({
            data() {
                return {
                    cours: [],
                    selectedCours: {},
                    selectedDate: new Date(),
                    jeuxTest: {},
                    darkTheme: true,
                    displayDetails: false,
                    idCoursSelected: null,
                    baseUrl: "localhost:8000",
                };
            },
            methods: {
                formatDate: function (date) {
                    return date.toLocaleDateString("fr-FR");
                },
                incrementSelectedDay: async function () {
                    let newDate = new Date()
                    newDate.setTime(this.selectedDate.getTime() + dayInMs);
                    this.selectedDate = newDate;
                    this.cours = await this.getCoursFromDate(this.selectedDate);
                    this.resetCoursSelected();

                },
                decrementSelectedDay: async function () {
                    let newDate = new Date()
                    newDate.setTime(this.selectedDate.getTime() - dayInMs);
                    this.selectedDate = newDate;
                    this.cours = await this.getCoursFromDate(this.selectedDate);
                    this.resetCoursSelected();
                },
                getCoursFromDate: async function (date) {
                    console.log("date", date)
                    let jour = date.getDate();
                    let mois = date.getMonth() + 1;
                    let annee = date.getFullYear();
                    console.log("annee", annee)

                    const response = await axios.get(`http://localhost:8000/api/cours/cours-from-date?annee=${annee}&mois=${mois}&jour=${jour}`);
                    let classes = response.data;
                    console.log(response)
                    return this.sortClassesByDateAsc(classes);
                },
                formatClassesDate: function (date) {
                    return new Date(date).toLocaleTimeString("fr-FR", { hour: '2-digit', minute: '2-digit' });
                },

                sortClassesByDateAsc: function (classes) {
                    classes.sort((a, b) => {
                        return new Date(a.debut).getTime() - new Date(b.debut).getTime();
                    });
                    return classes;
                },
                setJeuxTest: async function () {
                    let r = await fetch('jeuxTest.json');
                    let data = await r.json();
                    this.jeuxTest = data;
                },
                selectCours: function (id) {
                    this.idCoursSelected = id;
                    this.displayDetails = true;
                    this.selectedCours = this.cours.find(cour => cour.id == id);
                },
                resetCoursSelected: function () {
                    this.idCoursSelected = null;
                    this.displayDetails = false;
                }
            },
            mounted: async function () {
                await this.setJeuxTest();
                this.cours = await this.getCoursFromDate(this.selectedDate);
            }

        }).mount('#app');
    </script>
</body>

</html>