<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Noter un cours</title>
</head>

<body>
    <div id="app" class="app">
        <form class="" v-on:submit.prevent="addNoteCours()">
            <div class="form-group">
                <label for="note">Note</label>
                <select name="note" id="note" class="form-control" v-model="nouvelleNote.note">
                    <option value="0">0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
            </div>

            <div class="form-group">
                <label for="commentaire">Commentaire</label>
                <textarea name="commentaire" id="commentaire" cols="30" rows="2" class="form-control" required
                    v-model="nouvelleNote.commentaire"></textarea>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="text" name="email" id="email" cols="30" rows="2" class="form-control" required
                    v-model="nouvelleNote.emailEtudiant"></input>
            </div>
            <div class="form-group mt-3">
                <input type="submit" class="btn btn-primary" value="Ajouter">
            </div>

            <ul class="text-danger">
                <li v-for="error in errors">
                    {{error}}
                </li>
            </ul>

        </form>
    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        Vue.createApp({
            data() {
                return {
                    baseUrl: "http://localhost:8000",
                    nouvelleNote: {
                        note: 0,
                        commentaire: "",
                        emailEtudiant: "",
                    },
                    errors: [],
                    coursId: null,
                };
            },
            methods: {
                addNoteCours: function () {
                    this.resetErrors();
                    axios.post(`${this.baseUrl}/api/cours/${this.coursId}/create-note`, this.nouvelleNote)
                        .then(response => {
                            console.log("response api", response);
                            window.location.href = '/notesCours.html' + '?coursId=' + this.coursId;
                        })
                        .catch(error => {
                            console.log(error);
                            this.errors = Object.values(error.response.data)
                        });
                },
                resetErrors: function () {
                    this.errors = [];
                },
            },
            mounted: async function () {
                const queryString = window.location.search;
                const urlParams = new URLSearchParams(queryString);
                this.coursId = urlParams.get('coursId');
                console.log(this.coursId)
                if (!this.coursId) {
                    alert("Aucun cours n'a été sélectionné")
                }
            }
        }).mount('#app');
    </script>
</body>

</html>