<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/notesCours.css" rel="stylesheet">
    <title>Document</title>
</head>

<body>
    <div class="app" id="app">
        <h1> Notes des cours </h1>

        <div class="selectDate">
            <label for="coursDate">Date du cours a afficher </label>
            <input type="date" id="coursDate" name="coursDate" />
        </div>



        <div class="toutesLesNotes">
            <div class="" v-if="cours.length == 0">Aucun cours</div>
            <div class="" v-if="chargement"> Chargement</div>
            <div class="" v-for="(cour, index) in cours" :key="index">
                <h3 class="title">
                    {{cour.matiere.titre}}
                    {{formatClassesDate(cour.dateHeureDebut.date)}}h -
                    {{formatClassesDate(cour.dateHeureFin.date)}}h
                </h3>
                <p>Moyenne : {{calculMoyenne(cour.notes)}}</p>
                <div class="notes">
                    <div class="note border-b" v-for="(note, index) in cour.notes" :key="index">

                        <div class="noteEmail ">
                            <p>{{note.emailEtudiant}}</p>

                        </div>
                        <div class="noteEtudiant">
                            <p> {{note.note}} / 5</p>

                        </div>
                        <div class="noteCommentaire">
                            <p>{{note.commentaire}}</p>

                        </div>


                    </div>
                </div>
            </div>
        </div>
        <div class="cours">

        </div>
    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        Vue.createApp({
            data() {
                return {
                    baseUrl: "http://localhost:8000",
                    nouvelleNote: {
                        note: 0,
                        commentaire: "",
                        emailEtudiant: "",
                    },
                    errors: [],
                    coursId: null,
                    cours: [],
                    chargement: true,
                };
            },
            methods: {
                displayCoursDateSelected: function (jour, mois, annee) {
                    this.chargement = true;
                    axios.get(`${this.baseUrl}/api/cours/cours-from-date?annee=${annee}&mois=${mois}&jour=${jour}`)
                        .then(response => {
                            console.log("cours du jour", response.data);
                            this.cours = response.data;
                        })
                        .catch(error => {
                            console.log(error);
                        })
                        .finally(() => {
                            this.chargement = false;
                        });
                },
                displayOneCours: async function () {
                    this.chargement = true;
                    try {
                        this.cours = [await this.getOneCours()];
                    }
                    catch (error) {
                        console.log(error);
                        alert("Erreur lors de la récupération des notes du cours selectionné")
                    }
                    finally {
                        this.chargement = false;
                    }
                },

                getOneCours: async function () {
                    try {
                        let response = await axios.get(`${this.baseUrl}/api/cours/${this.coursId}`)
                        console.log(response.data);
                        return response.data;
                    } catch (error) {
                        console.log(error);
                        alert("Erreur lors de la récupération du cours selectionné")
                    }
                },
                formatClassesDate: function (date) {
                    return new Date(date).toLocaleTimeString("fr-FR", { hour: '2-digit', minute: '2-digit' });
                },
                calculMoyenne: function (notes) {
                    if (notes.length === 0) return "Pas de notes";
                    let somme = 0;
                    for (let i = 0; i < notes.length; i++) {
                        somme += notes[i].note;
                    }
                    return somme / notes.length;
                },
            },
            mounted: async function () {
                const queryString = window.location.search;
                const urlParams = new URLSearchParams(queryString);
                this.coursId = urlParams.get('coursId');
                console.log(this.coursId)
                if (!this.coursId) {
                    this.coursId = null;
                }

                if (this.coursId !== null) {
                    console.log("displayOneCours")
                    this.displayOneCours();
                }
                else {
                    console.log("displayTodayCours")
                    let date = new Date();
                    this.displayCoursDateSelected(date.getDay(), date.getMonth() + 1, date.getFullYear());
                }
            }

        }).mount('#app');
    </script>
</body>

</html>