<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Informations sur ton prof</title>
    <link href="./css/showProf.css" rel="stylesheet">
</head>

<body>
    <div id="app" class="container">
        <a href="/">
            <input type="button" value="Accueil"></input>
        </a>
        <div class="row">
            <div class="col">
                <h1>Informations sur ton prof</h1>
            </div>
            <div class="information-professeur" v-if="professeur.id">
                <span>
                    {{professeur.nom}} {{professeur.prenom}}
                </span>
                <div class="matieres" v-for="matiere in professeur.matieres">
                    {{matiere.titre}}
                </div>
                <hr>
                <div class="cours" v-for="currentCours in cours">
                    {{currentCours.matiere.titre}}
                    {{formatDateToToday(currentCours.dateHeureDebut.date)}}
                    {{formatClassesDate(currentCours.dateHeureDebut.date)}}h -
                    {{formatClassesDate(currentCours.dateHeureFin.date)}}h
                </div>
            </div>
            <div v-else>
                <span>Nous n'avons pas trouvé de professeur/Chargement</span>
            </div>

        </div>
    </div>


    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        Vue.createApp({
            data() {
                return {
                    apiBase: "http://localhost:8000/",
                    professeur: {},
                    profId: null,
                    cours: [],
                };
            },
            methods: {
                getProfFromId: function () {
                    axios.get(`${this.apiBase}api/professeurs/${this.profId}`)
                        .then((response) => {
                            console.log(response.data);
                            this.professeur = response.data;
                            this.getCoursProf();
                        })
                },

                getCoursProf: function () {
                    console.log(this.professeur);
                    this.professeur.cours.forEach((currentCoursId) => {
                        axios.get(`${this.apiBase}api/cours/${currentCoursId}`)
                            .then((response) => {
                                console.log(response.data);
                                console.log("cours:", this.cours);
                                this.cours.push(response.data);
                            })
                    })
                },

                formatClassesDate: function (date) {
                    return new Date(date).toLocaleTimeString("fr-FR", { hour: '2-digit', minute: '2-digit' });
                },

                formatDateToToday: function (date) {
                    return new Date(date).toLocaleDateString("fr-FR", { day: '2-digit', month: '2-digit', year: "2-digit" });
                }
            },
            mounted: async function () {
                const queryString = window.location.search;
                const urlParams = new URLSearchParams(queryString);
                this.profId = urlParams.get('profId');
                console.log(this.profId)
                if (!this.profId) {
                    alert("Aucun prof n'a été sélectionné")
                }
                else {
                    this.getProfFromId();
                }
            }
        }).mount('#app');
    </script>
</body>

</html>